<div class="welcome-home"> 
    <h1>Welcome to Icy Truck</h1>
    <p>Sign up as a Customer to order icecreams from icecream trucks in your neighborhood.</p>
    <p>Sign up as a Truck Owner to start selling your icecreams in any neighborhood you'd like.</p>
</div>