<div class="welcome-home"> 
    <h1>Welcome to Icy Truck !</h1>
    <h3>If you want to order ice creams, click <%= link_to "here.", signup_path %></h3>
    <h3>If you want to sell ice creams, click <%= link_to "here.", truck_signup_path %></h3>
</div>